<div class="container">
  <div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h3>Twilio SIP Interface to WebRTC</h3>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/users/sign_up'">Sign up</button>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/users/sign_in'">Sign in</button>
  </div>
  <div class="col-md-4"></div>
  </div>
</div>