<div class="container">
  <div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h2 class="text-center">Twilio SIP Interface to WebRTC</h2>
    <p class="lead">Hello there, this is a sample application that demonstrates how you can push calls to a Twilio WebRTC softphone via SIP or PSTN. You can get started in four easy steps.</p>
    <h4>1. Create an account</h4>
    <p>Click on "Sign up" and enter your name, email, and company name. Twilio will automatically generate a SIP URL and a phone number for your account.</p>
    <h4>2. Give us a ring</h4>
    <p>You can try using the WebRTC softphone by dialing the phone number on the right hand side of the WebRTC page.</p>
    <h4>3. Configure access to your SIP domain</h4>
    <p>Twilio authenticates requests to Twilio SIP domains with a username and/or a whitelisted IP. In order to send calls to Twilio, you must set up at least one of these. If you'd like to authenticate with a username, click "Create credential list", if you'd like to use an IP, click "Create IP whitelist".</p>
    <h4>4. Send us an INVITE</h4>
    <p>Once you've set up your SIP domain to let your traffic through, send us an INVITE from your favorite PBX or softphone. We like using X-Lite and Asterisk but any SIP client will do.</p>
    <button type="button" class="btn btn-primary btn-block btn-lg" onclick="window.location.href='/users/sign_up'">Sign up</button>
    <button type="button" class="btn btn-primary btn-block btn-lg" onclick="window.location.href='/users/sign_in'">Sign in</button>
  </div>
  <div class="col-md-3"></div>
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60752981-1', 'auto');
  ga('send', 'pageview');

</script>