<div class="container">
  <div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h3>Twilio SIP Interface to WebRTC</h3>
    <p>This is a demo that demonstrates how you can use Twilio SIP interfaces accept calls from any PBX and push them to a WebRTC phone running in the browser. To get started, sign up and we will provision a Twilio phone number and a Twilio SIP endpoint for you. To get started send your</p>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/users/sign_up'">Sign up</button>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/users/sign_in'">Sign in</button>
  </div>
  <div class="col-md-4"></div>
  </div>
</div>