<form>
  <div class="form-group col-md-6">
    <label for="exampleInputEmail1">User Name</label>
    <% @auth_acl.credentials.list.each do |credentials| %>
      <tr>
        <%= render partial: "well", object: credentials.username%>
      </tr>
    <% end %>
    <input type="name" class="form-control" id="FN1" placeholder="JoeTelecom">
  </div>
  <div class="form-group col-md-6">
    <label for="exampleInputPassword1">Password</label>
      <% @auth_acl.credentials.list.each do |credentials| %>
        <tr>
          <%= render partial: "well", object: "•••••••••••"%>
        </tr>
      <% end %>
    <input type="ip" class="form-control" id="exampleInputPassword1" placeholder="alphanumeric">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>