<td><%= link_to user.name, user %></td>
<td><%= link_to user.company, user %></td>
<td><%= link_to user.email, user %></td>
<!-- TODO implement this stub -->
<!-- <td><%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %></td> -->