<footer class="footer">
  <div class="container">
    <p class="text-center footer-text">Made with ❤︎ by Twilio London. Something wrong? Email help@siptowebrtc.com and we'll sort it out.</p>
  </div>
</footer> 